h1 {
    color : green,
}

.phoneBookItem {
    color : green;
    padding-top : 3px;
    font-size : 15px;
}

.note {
    color : green;
    padding-top : 3px;
    font-size : 15px;
}
.failNotification {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.successNotification {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}
